<div class="home-title row">
  <div class="logo span6">
    <span>
      <img src="/icon_25392.png">
    </span>
    <h1>routes to the roundabout</h1>
  </div>
  <h2 class="sub">Want to be a leader in the Tech industry?<br> Open the door and <span>GET IN!</span></h2>
</div>

<div class="home-videos row">

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/63320dEwSBQ?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/nbH_vobNRj4?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>



  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/nb2F3sltafU?controls=0&showinfo=0" frameborder="0" allowfullscreencontrols=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/cRwG4ClEWp8?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/gIygHlb6UBM?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/_xyHVW1BVrs?controls=0&showinfo=0" frameborder="0" allowfullscreencontrols=0></iframe>
  </div>

</div>



<div class="home-blocks row">

  <div class="home-block home-block--young-people span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Find your Opportunity</h3>
     <p>Tech companies need good people. Look here to learn different levels of coding, design, making and communicating.</p>
      <a class="btn" href="/opportunities">Find your opportunity</a>
    </div>
  </div>

  <div class="home-block home-block--post-opportunity span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Add your programme</h3>
      <p>Offer an opportunity for young people to learn tech ? Promote it here and call out for support from tech professionals.</p>
      </p>
      <a class="btn" href="/opportunities/new">Add opportunity</a>
    </div>
  </div>

  <div class="home-block home-block--employers span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Commit your time</h3>
      <p>commit to mentor, teach and inspire young people and help develop the future tech workforce.
      </p>
      <a class="btn" href="/employers">See what you can give</a>
    </div>
  </div>

</div>
