<div class="home-title row">
      <div class="logo">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/svg/2d220457-71a5-4e7a-87b3-c52f0b67ea55.svg?Expires=1396131427&Signature=Q8GAphsZhM5~sG-gN~7XFbzWNsXWLd3piO-EEPSPhMYGoeADsgDdWllYgW6OfYaGwLSIf9drUx-~UItogJESWPJ64qveUAvXdygqkGa5WyqTsot9LtB0Zq~KEz0tkPLfScdriJRngriHzIGiwlwydjNsoYUTwyxDqe56E-AlWNk_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q">
    <h1>Routes to the Roundabout</h1>
  </div>
  <h2>Want to be a leader in the Tech industry? Open the door and GET IN!</h2>
</div>

<div class="home-videos row">

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/63320dEwSBQ?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/nbH_vobNRj4?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>



  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/nb2F3sltafU?controls=0&showinfo=0" frameborder="0" allowfullscreencontrols=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/cRwG4ClEWp8?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/gIygHlb6UBM?controls=0&showinfo=0" frameborder="0" allowfullscreen controls=0></iframe>
  </div>

  <div class="home-video span4">
    <iframe width="560" height="315" src="//www.youtube.com/embed/_xyHVW1BVrs?controls=0&showinfo=0" frameborder="0" allowfullscreencontrols=0></iframe>
  </div>

</div>



<div class="home-blocks row">

  <div class="home-block home-block--young-people span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Find your Opportunity</h3>
      <p>Tech companies need people need people with technical, design and good people skills. Find opportunities in your area to learn different levels of coding, design, making and communicating.<br>
      Add your programme - Offer an opportunity for young people to learn tech ? Promote it here and call out for support from tech professionals.
      <br>
      Commit your time - commit to mentor, teach and inspire young people and help develop the future tech workforce. 
      </p>
      <a class="btn" href="/opportunities">Find your opportunity</a>
    </div>
  </div>

  <div class="home-block home-block--post-opportunity span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Find Opportunities</h3>
      <p>Welcome to the club of Tech City. If you’re interested in tech and you’re willing to work hard, you can be a part of it.
      <br>
      Tech companies are looking for people with technical, design and people skills. If you know what you want to learn but don’t know where to find it, you’re in the right place. Here you can search for all the different local programmes that teach you how to code, build software or understand electronics. 
      <br>
      Search here by telling us your preferences, what you want to do, and who you want to be. 
      </p>
      <a class="btn" href="/opportunities/new">Find opportunities</a>
    </div>
  </div>

  <div class="home-block home-block--employers span4">
    <div class="home-block__inner">
      <h3 class="home-block__title">Information for Employers</h3>
      <p>Recruiting good talent is an issue for you, right? Technology changes fast but the curriculum lags behind. We want to speed up the process.
      <br>
      There are great learning programmes coming out of Tech City. To do their best job they need developers to help teach, experienced mentors and founders to inspire the entrepreneurs of the future. 
      <br>
      We know your time is limited - you have businesses to run. But we also know you want to help. 
      <br>
      What can you do to help develop young talent who one day soon will work in your company, or with another Tech City firm of the future?
      </p>
      <a class="btn" href="/employers">View Information For Employers</a>
    </div>
  </div>

</div>
