<style>
	.navbar-inner {
      background:rgb(0,183,255);
    background:rgba(0,183,255,0.2);
	}
</style>
<div class="row">
  <div class="page-header span6">
    <h1>Ways to get involved</h1>
  </div>
</div>
<div class="row" id="opener">
  <div class="span6">
    <p class="lead">Recruiting good talent is an issue for you, right? Technology changes fast but the curriculum lags behind. We want to speed up the process.</p>
    <p>There are great learning programmes coming out of Tech City. To do their best job they need developers to help teach, experienced mentors and founders to inspire the entrepreneurs of the future.</p>
    <p>
    We know your time is limited - you have businesses to run. But we also know you want to help.
    </p>
    <p>
    What can you do to help develop young talent who one day soon will work in your company, or with another Tech City firm of the future?</p>
  </div>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<th>Name</th>
		<th>Type of opportunity</th>
		<th>Description</th>
	</thead>
	<tbody>

<% Opportunity.all.each do |opportunity| %>
	<% if opportunity.employer_opp && opportunity.employer_opp != "n" %>
	<tr>
		<td><%= link_to opportunity.name, opportunity %></td>
		<td><%= opportunity.lo_type %></td>
		<td>
			<%= opportunity.description %>
			<br>
			<%= link_to "Get involved", opportunity.employer_opp, :class => "btn btn-mini btn-success" %>
		</td>
	</tr>
	<% end %>
<% end %>
</tbody>
</table>
