<%- model_class = Opportunity -%>
<style>
  .navbar-inner {
    background:rgb(9,255,0);
    background:rgba(9,255,0,0.2);
  }
</style>
<div class="row">
  <div class="page-header span6">
    <h1>Add your programme</h1>
  </div>
</div>
<div class="row" id="opener">
  <div class="span6">
    <p class="lead">Offer an opportunity for young people to learn tech? Promote it here and call out for support from tech professionals.</p>
    <p>Commit to mentor, teach and inspire young people and help develop the future tech workforce.</p>
  </div>
</div>


<%= render :partial => 'form' %>
