/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* home */
  .home-title {
    text-align:center;
    padding:20px;
  }

  div.logo { display: block; margin: 0px auto; text-align: center;  }
  h1 { font-family: Gafata !important; text-align: center; display: inline; font-size: 1.7em  }

  .brand { font-family: Gafata !important;}

  .home-videos {
    margin-bottom:20px;
  }

  .home-blocks {
    margin-bottom:20px;
  }

    .home-block__inner {
      padding:10px;
    }

    .home-block__title {
      font-size:1.2em;
    }

  .home-block {
    border-top-width:10px;
    border-top-style:solid;
  }
  .home-block--young-people {
    background:rgba(9,255,0,0.2);
    border-top-color:rgb(9,255,0);
  }
  .home-block--post-opportunity {
    background:rgba(0,183,255,0.2);
    border-top-color:rgb(0,183,255);
  }
  .home-block--employers {
    background:rgba(247,115,49,0.2);
    border-top-color:rgb(247,115,49);
  }
