/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Gafata;
}

/* home */
  .home-title {
    text-align:center;
    padding:20px;
  }

  div.logo { display: block; margin: 0px auto; text-align: center;  }
  div.logo img { margin: 0px; display: inline; width: 4em; margin-bottom: 0.4em; }
  h1 { font-family: Gafata !important; text-align: center; display: inline; font-size: 1.7em  }

  .brand { font-family: Gafata !important;}

  .home-videos {
    margin-bottom:20px;
  }

  .home-blocks {
    margin-bottom:20px;
  }

    .home-block__inner {
      padding:10px;
    }

    .home-block__title {
      font-size:1.2em;
    }

  .home-block {
    border-top-width:10px;
    border-top-style:solid;
  }
  .home-block--young-people {
    background:rgba(9,255,0,0.2);
    border-top-color:rgb(9,255,0);
  }
  .home-block--post-opportunity {
    background:rgba(0,183,255,0.2);
    border-top-color:rgb(0,183,255);
  }
  .home-block--employers {
    background:rgba(247,115,49,0.2);
    border-top-color:rgb(247,115,49);
  }

/* opportunities */
  .opportunities { }

    /* opportunities filter */
      .opportunities__filter {
      }

    /* opportunities list */
      .opportunities__list {

      }

      .opportunities__list ul {
        list-style:none;
      }

      .opportunity {
        display:inline-block;
        margin:5px;
      }

      .opportunity {
        display:block;
        height:200px;
        border-radius:15px;
        background:rgba(9,255,0,0.5);
        width:200px;
        padding:10px;
      }

      .opportunity:hover {
        background:rgba(9,255,0,0.8);
      }

      .opportunity a {
        color:#fff;
      }

      .opportunity:hover a {
        color:#ff0;
      }

/* isotope */
  /**** Isotope Filtering ****/

  .isotope-item {
    z-index: 2;
  }

  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }

  /**** Isotope CSS3 transitions ****/

  .isotope,
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
  }

  .isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
  }

  .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:      -o-transform, opacity;
            transition-property:         transform, opacity;
  }

  /**** disabling Isotope CSS3 transitions ****/

  .isotope.no-transition,
  .isotope.no-transition .isotope-item,
  .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
  }

  /* End: Recommended Isotope styles */



  /* disable CSS transitions for containers with infinite scrolling*/
  .isotope.infinite-scrolling {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
